<form method="post">
<select name="method">
<option value="caesar">Caesar cipher</option>
<option value="aes">AES</option>
</select>
<input type="radio" id="encrypt" name="direction" value="encrypt" checked>
<label for="encrypt">Encrypt</label><br>
<input type="radio" id="decrypt" name="direction" value="decrypt">
<label for="decrypt">Decrypt</label><br>
<label>Key:</label><br>
<input type="text" name="key" value="password" maxlength="32"><br>
<label>Data:</label><br>
<input type="text" name="data" value="google"><br><br>
<input type="submit" value="Submit">
</form>
